Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

unhide faults
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Address Martin's feedback.
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/service.pb.go
  mixer/adapter/model/v1beta1/service.proto
Owners: @geeknoid, @douglas-reid

Service definition for OOP adapter that will be on session plan. As per the API design https://docs.google.com/document/d/1Fic1Mgp0W5Sxhd0BxAFOc82DbSYWTsYpi5P-pv8ZjSQ/edit
  mixer/adapter/model/v1beta1/extensions.pb.go
  mixer/adapter/model/v1beta1/extensions.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/service.pb.go
  mixer/adapter/model/v1beta1/service.proto
Owners: @geeknoid, @douglas-reid

rename service to InfrastructureBackend
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/service.pb.go
  mixer/adapter/model/v1beta1/service.proto
Owners: @geeknoid, @douglas-reid

Rename file
  mixer/adapter/model/v1beta1/extensions.pb.go
  mixer/adapter/model/v1beta1/infrastructure_backend.pb.go
  mixer/adapter/model/v1beta1/infrastructure_backend.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
Owners: @geeknoid, @douglas-reid

switch to the actual gogo googleapis
  Makefile
  mixer/v1/check.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Use gogo for networking v1alpha3
  Makefile
  mixer/adapter/model/v1beta1/infrastructure_backend.pb.go
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/virtual_service.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

patch for networking gogo import
  Makefile
  networking/v1alpha3/virtual_service.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

patch for networking gogo import
  Makefile
  authentication/v1alpha1/policy.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

remove status for real.
  mixer/adapter/model/v1beta1/quota.pb.go
  mixer/adapter/model/v1beta1/quota.proto
  mixer/adapter/model/v1beta1/report.pb.go
Owners: @geeknoid, @douglas-reid

Did rebase
  mixer/adapter/model/v1beta1/check.pb.go
  mixer/adapter/model/v1beta1/check.proto
  mixer/adapter/model/v1beta1/extensions.pb.go
  mixer/adapter/model/v1beta1/infrastructure_backend.pb.go
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
Owners: @geeknoid, @douglas-reid

fix bad rebase
  mixer/adapter/model/v1beta1/check.pb.go
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/quota.pb.go
  mixer/adapter/model/v1beta1/quota.proto
  mixer/adapter/model/v1beta1/report.pb.go
  mixer/adapter/model/v1beta1/report.proto
Owners: @geeknoid, @douglas-reid

Clean up unused fields
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

g/Request/Result
  mixer/adapter/model/v1beta1/check.pb.go
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/report.pb.go
  mixer/adapter/model/v1beta1/report.proto
Owners: @geeknoid, @douglas-reid

add gogo optimizations
  gogoproto/gogo.proto
Owners: @rshriram, @geeknoid, @douglas-reid

missing files
  Makefile
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

fix build
  Makefile
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/virtual_service.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

try
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Remove old protos. Hopefully no one should be using these.
  Makefile
  mixer/v1/config/cfg.proto
  mixer/v1/config/descriptor/istio.mixer.v1.config.descriptor.pb.html
  mixer/v1/config/descriptor/value_type.pb.go
  mixer/v1/config/descriptor/value_type.proto
  mixer/v1/config/fixed_cfg.pb.go
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/template/extensions.pb.go
  mixer/v1/template/extensions.proto
  mixer/v1/template/istio.mixer.v1.template.pb.html
  mixer/v1/template/standard_types.pb.go
  mixer/v1/template/standard_types.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Also remove unused types
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

got carried away and deleted some in-use types
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Fix examples with wildcard - surround with quatation marks
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Fix ExternalService examples - remove redundant dash before ports key
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Fix a copy/paste error in an unused proto (so far)
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/quota.pb.go
  mixer/adapter/model/v1beta1/quota.proto
Owners: @geeknoid, @douglas-reid

Authentication policy v1alpha2.
  Makefile
  authentication/v1alpha2/istio.authentication.v1alpha2.pb.html
  authentication/v1alpha2/policy.pb.go
  authentication/v1alpha2/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fix newly broken link in comment.
  mixer/v1/attributes.pb.go
  mixer/v1/attributes.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/istio.mixer.v1.pb.html
Owners: @geeknoid, @douglas-reid

Enable v1alpha3 for publication
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

regen
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

small doc correction
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Mark EUC policy is protyping.
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Add pre-release note and tracking bug.
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid

Rephase
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid

update CRD example
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

fix package level doc missing
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Proto definition for adapter info.
  mixer/adapter/model/v1beta1/check.pb.go
  mixer/adapter/model/v1beta1/info.pb.go
  mixer/adapter/model/v1beta1/info.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
Owners: @geeknoid, @douglas-reid

Add `enableFallbackPassthroughFilter` to `MeshConfig`
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Forwrard v1alpha1 to v1alpha2 in order to rollback api version due to complication with config version roll-up
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Add an optional option for template_variety
  mixer/adapter/model/v1beta1/extensions.proto
Owners: @geeknoid, @douglas-reid

Change ref to v1alpha2 to v1alpha1 in comment.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Update generated files
  mixer/adapter/model/v1beta1/extensions.pb.go
  mixer/adapter/model/v1beta1/extensions.proto
Owners: @geeknoid, @douglas-reid
