Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

create fixed_cfg.pb.go
  Makefile
  policy/v1beta1/cfg.pb.go
  policy/v1beta1/fixed_cfg.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Temporary to see if linter is happy to see the cfg.pb.go. I will delete this in next commit (same pr)
  Makefile
  policy/v1beta1/cfg.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Fixed a comment.
  Makefile
  policy/v1beta1/cfg.pb.go
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Adding placeholder binary to get go dep in istio.io/istio...
  .gitignore
  istioapi.go
Owners: @rshriram, @geeknoid, @douglas-reid

Make dependency more strict to trigger the fixed_cfg.pb.go
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Not delete the cfg.pb.go file for the time being. Will fix this in followup PRs
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Undelete the cfg.pb.go
  policy/v1beta1/cfg.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

rm the cfg.pb.go
  Makefile
  policy/v1beta1/cfg.proto
Owners: @rshriram, @geeknoid, @douglas-reid

undo experimentation with deletion of cfg.pb.go
  Makefile
  policy/v1beta1/cfg.pb.go
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

retry delete cfg.pb.go
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

combine fixed_cfg with cfg.pb.go generation.
  Makefile
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

only execute sed and rm if the file exists.
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

remove extra items from generated cfg file.
  Makefile
  policy/v1beta1/cfg.proto
  policy/v1beta1/fixed_cfg.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

add cluster
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Addressed Martin's comments.
  mixer/v1/config/client/client_config.proto
Owners: @geeknoid, @douglas-reid

Add auto generated files.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Add two fields for discoveryService
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

enums are case sensitve, updating examples so users are not confused
  routing/v1alpha2/external_service.pb.go
Owners: @rshriram, @ZackButcher, @kyessenov

updated proto
  routing/v1alpha2/external_service.proto
Owners: @rshriram, @ZackButcher, @kyessenov

adding correct kind name to v1alpha2 protos so users are not confused
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/route_rule.pb.go
  routing/v1alpha2/route_rule.proto
Owners: @rshriram, @ZackButcher, @kyessenov

update .html file
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

Rename RouteRule to VirtualService
  routing/v1alpha2/destination_rule.proto
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/route_rule.pb.go
  routing/v1alpha2/virtual_service.proto
Owners: @rshriram, @ZackButcher, @kyessenov

typos and minor rewording
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/virtual_service.proto
Owners: @rshriram, @ZackButcher, @kyessenov

regen protos
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/virtual_service.pb.go
Owners: @rshriram, @ZackButcher, @kyessenov

i/3745 Customizable path to proxy template file
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

i/3745 fix proto variable numbering tags
  mesh/v1alpha1/config.proto
Owners: @ZackButcher, @rshriram

change ProxyTemplatePath to ProxyBootstrapTemplatePath
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

fix typos and improve doc per review comments
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/destination_rule.proto
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/virtual_service.pb.go
  routing/v1alpha2/virtual_service.proto
Owners: @rshriram, @ZackButcher, @kyessenov

move routing/v1alpha2 to networking/v1alpha3
  Makefile
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

fix merge conflicts
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

updated documentation with correct syntax
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

ran make to sync changes
  networking/v1alpha3/gateway.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

fix wrong apiVersion in example
  networking/v1alpha3/gateway.proto
Owners: @rshriram, @geeknoid, @douglas-reid

regen
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

fix proxyBootstrapTemplatePath variable mismatch
  mesh/v1alpha1/config.pb.go
Owners: @ZackButcher, @rshriram

run scripts/generate-protos.sh, cover up for PR387
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Fix generation script
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/virtual_service.pb.go
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
  scripts/generate-protos.sh
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

resolve conflicts
  mesh/v1alpha1/config.pb.go
Owners: @ZackButcher, @rshriram

Pin gofmt and update scripts
  Gopkg.lock
  Gopkg.toml
  Makefile
  scripts/generate-protos.sh
Owners: @rshriram, @geeknoid, @douglas-reid
