Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

Delete temp
  temp
Owners: @rshriram, @geeknoid, @douglas-reid

Doc fixes.
  Gopkg.lock
  mixer/v1/template/istio.mixer.v1.template.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha1/route_rule.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/route_rule.proto
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

Add configure field for tcp filter report interval.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

More doc fixes.
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha1/route_rule.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/route_rule.proto
Owners: @ZackButcher, @rshriram, @kyessenov

Revise comment.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

More doc fixes.
  Gopkg.lock
  broker/v1/config/istio.broker.v1.config.pb.html
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  mixer/v1/attributes.proto
  mixer/v1/config/cfg.proto
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  rbac/v1alpha1/rbac.pb.go
  rbac/v1alpha1/rbac.proto
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha1/route_rule.proto
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/destination_rule.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz, @ZackButcher, @liminw, @kyessenov

Update tcp filter report interval config to use google.protobuf.Duration.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Revise per review comment.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Revise per review comment.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Introducing basic naming convention.
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

added TCP and MONGO to the list of protocols supported by Egress Rules
  routing/v1alpha1/egress_rule.proto
Owners: @rshriram, @ZackButcher, @kyessenov

added the generated pb.go and pb.html
  routing/v1alpha1/egress_rule.pb.go
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

Update broker package.
  Makefile
  broker/v1alpha1/istio.broker.v1alpha1.pb.html
  broker/v1alpha1/service_class.pb.go
  broker/v1alpha1/service_class.proto
  broker/v1alpha1/service_plan.pb.go
  broker/v1alpha1/service_plan.proto
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz

change to dev
  Makefile
  broker/dev/istio.broker.dev.pb.html
  broker/dev/service_class.pb.go
  broker/dev/service_class.proto
  broker/dev/service_plan.pb.go
  broker/dev/service_plan.proto
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz

hide from docs
  Makefile
  broker/dev/istio.broker.dev.pb.html
  broker/dev/service_class.pb.go
  broker/dev/service_class.proto
  broker/dev/service_plan.pb.go
  broker/dev/service_plan.proto
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz

Update comment for TCP filter report interval config.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Expose concurrency flag of envoy
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

remove v1alpha2 docs
  routing/v1alpha2/destination_rule.proto
  routing/v1alpha2/external_service.proto
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/route_rule.proto
Owners: @rshriram, @ZackButcher, @kyessenov

Change # to number in help
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Add no_jwt_patterns to auth.proto
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

added documentation about TCP Egress Rules, CIDR notation
  routing/v1alpha1/egress_rule.pb.go
  routing/v1alpha1/egress_rule.proto
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

add missing docs for mixerclient filter config
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/client/quota.pb.go
  mixer/v1/config/client/quota.proto
Owners: @geeknoid, @douglas-reid

add package comments for broker.
  broker/dev/service_class.proto
Owners: @xiaolanz

generated code
  broker/dev/istio.broker.dev.pb.html
  broker/dev/service_class.pb.go
  broker/dev/service_class.proto
Owners: @xiaolanz

address review comments
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/client/quota.pb.go
  mixer/v1/config/client/quota.proto
Owners: @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Add missing comments to mixer protos.
  Gopkg.lock
  mixer/v1/attributes.pb.go
  mixer/v1/attributes.proto
  mixer/v1/check.pb.go
  mixer/v1/check.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  mixer/v1/report.pb.go
  mixer/v1/report.proto
  mixer/v1/service.proto
  out.txt
Owners: @rshriram, @geeknoid, @douglas-reid

Enable "no comment provided" warnings to come out clearly when building the protos.
  Makefile
  out.txt
Owners: @rshriram, @geeknoid, @douglas-reid

Fix fixed_cfg.pb.go generation
  mixer/v1/config/fixed_cfg.pb.go
Owners: @geeknoid, @douglas-reid

Cleanup imports of fixed_cfg.pb.go
  Makefile
  mixer/v1/config/fixed_cfg.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Correct a small makefile issue
  Gopkg.lock
  Makefile
  broker/dev/istio.broker.dev.pb.html
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/descriptor/istio.mixer.v1.config.descriptor.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  mixer/v1/template/istio.mixer.v1.template.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz, @ZackButcher, @liminw, @kyessenov

Adding AuthenticationPolicy api.
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/route_rule.pb.go
Owners: @geeknoid, @douglas-reid, @rshriram, @ZackButcher, @kyessenov

Update pb.go
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Change authN proto definition to follow current design
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid

Move authentication policy proto to authentication/ path
  Makefile
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Revert unwanted (re)generated files
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/route_rule.pb.go
Owners: @rshriram, @ZackButcher, @kyessenov

Remove unwanted changes in auth.proto
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid
