Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

Revert "Pin gofmt and update scripts"
  Gopkg.lock
  Gopkg.toml
  Makefile
  scripts/generate-protos.sh
Owners: @rshriram, @geeknoid, @douglas-reid

Attempting to fix circleci vendor issue
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Living dangerously
  .circleci/config.yml
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Living dangerously 2
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Living dangerously 3
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

fixing protoc issue
  .circleci/config.yml
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

update circleci to go1.10
  .circleci/config.yml
Owners: @rshriram, @geeknoid, @douglas-reid

Update authentiation API.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change message and field names. Add more examples.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Update comment to give more context of output principal
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change use_origin to plural.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Add request.auth.user to attribute dictionary.
  mixer/v1/global_dictionary.yaml
Owners: @geeknoid, @douglas-reid

Update examples.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Few more clarify.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change credential rules to use enum to define principal binding.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Typo.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Add disable mTLS example.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fix typos.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change source to peer for it sounds less confusing with origin in authentication context
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Revert global dictionary change that add request.auth.user. We will add that later when ready.
  mixer/v1/global_dictionary.yaml
Owners: @geeknoid, @douglas-reid

Update documentation. Update Destination proto to new location.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fix rebase merge
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

(Re) generate-proto
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

(Re) generate-proto, including non-authn folder.
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/virtual_service.pb.go
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

Update .pb.go files
  authentication/v1alpha1/policy.pb.go
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/virtual_service.pb.go
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

Change proto to define origin methods inline in credential rule.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Regenerate proto with go 1.10
  authentication/v1alpha1/policy.pb.go
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/virtual_service.pb.go
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

Switch to docker-based generation for pb.gos and docs.
  .circleci/config.yml
  Gopkg.lock
  Gopkg.toml
  Makefile
  authentication/v1alpha1/policy.pb.go
  bin/get_protoc_gen_version.sh
  docker/Dockerfile
  docker/build-and-push.sh
  mixer/adapter/model/v1beta1/type.pb.go
  mixer/v1/attributes.pb.go
  mixer/v1/check.pb.go
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/client/quota.pb.go
  mixer/v1/config/client/service.pb.go
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  mixer/v1/service.pb.go
  mixer/v1/template/standard_types.pb.go
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  policy/v1beta1/istio.policy.v1beta1.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
  scripts/generate-protos.sh
Owners: @rshriram, @geeknoid, @douglas-reid, @liminw, @ZackButcher, @kyessenov

Trying to fix circleci
  .circleci/config.yml
Owners: @rshriram, @geeknoid, @douglas-reid

Trying to fix circleci (attempt 2)
  .circleci/config.yml
Owners: @rshriram, @geeknoid, @douglas-reid

Change CIRCLECI image for building
  .circleci/config.yml
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Newer docker image
  .circleci/config.yml
  Makefile
  docker/Dockerfile
  docker/build-and-push.sh
Owners: @rshriram, @geeknoid, @douglas-reid

Makefile changes to support dual mode of generation
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Fix output path for ci build
  .circleci/config.yml
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Add git and openssh to docker image
  docker/Dockerfile
Owners: @rshriram, @geeknoid, @douglas-reid

Routing v1alpha3 doc fixes
  .gitignore
  authentication/v1alpha1/policy.pb.go
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov

Update protos
  networking/v1alpha3/destination_rule.pb.go
  networking/v1alpha3/destination_rule.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

update other stuff
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

update protos
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fix a typo
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
  networking/v1alpha3/virtual_service.pb.go
  networking/v1alpha3/virtual_service.proto
Owners: @rshriram, @geeknoid, @douglas-reid
