Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

Define JWT params in auth policy file.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Replace location sub messages by direct fields.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change Policy to AuthenticationPolicy to be consistent with CRD kind.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Remove unuse gogoproto import.
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Use route_rule.Destination instead of redefine in authn policy.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Replace Empty by dedicated message None for none-authentication params.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Nits
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Tidy up
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Add example for authn policy proto.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Revert unwanted (re)generated files
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid

Fix typos and uppercases.
  Makefile
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change match to destinations.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fix merge.
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Extract package-level comments into a per-package README.proto, to slightly increase discoverability.
  broker/dev/README.proto
  broker/dev/service_class.pb.go
  broker/dev/service_class.proto
  broker/dev/service_plan.pb.go
  mesh/v1alpha1/README.proto
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  mixer/v1/README.proto
  mixer/v1/attributes.pb.go
  mixer/v1/config/README.proto
  mixer/v1/config/cfg.proto
  mixer/v1/config/client/README.proto
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/descriptor/README.proto
  mixer/v1/config/descriptor/istio.mixer.v1.config.descriptor.pb.html
  mixer/v1/config/descriptor/value_type.pb.go
  mixer/v1/config/descriptor/value_type.proto
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/service.proto
  rbac/v1alpha1/README.proto
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  rbac/v1alpha1/rbac.pb.go
  rbac/v1alpha1/rbac.proto
  routing/v1alpha1/README.proto
  routing/v1alpha1/dest_policy.pb.go
  routing/v1alpha1/egress_rule.pb.go
  routing/v1alpha1/http_fault.pb.go
  routing/v1alpha1/ingress_rule.pb.go
  routing/v1alpha1/l4_fault.pb.go
  routing/v1alpha1/route_rule.pb.go
  routing/v1alpha1/route_rule.proto
  routing/v1alpha2/README.proto
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/external_service.pb.go
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/route_rule.pb.go
  routing/v1alpha2/route_rule.proto
Owners: @xiaolanz, @ZackButcher, @rshriram, @geeknoid, @douglas-reid, @liminw, @kyessenov

Rename AuthenticationPolicy to Policy.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Rename AuthenticationPolicy to Policy.
  authentication/v1alpha1/policy.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

More comment clean up.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

cluster configuration
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

More comment clean up.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

nits
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Move template and valuetype to mixer/adapter/model/v1beta
  mixer/adapter/model/v1beta/BUILD
  mixer/adapter/model/v1beta/extensions.pb.go
  mixer/adapter/model/v1beta/extensions.proto
  mixer/adapter/model/v1beta/standard_types.pb.go
  mixer/adapter/model/v1beta/standard_types.proto
  mixer/adapter/model/v1beta/value_type.pb.go
  mixer/adapter/model/v1beta/value_type.proto
Owners: @geeknoid, @douglas-reid

Plump the mixer/adapter/model/v1beta into generation script
  Makefile
  mixer/adapter/model/v1beta/istio.mixer.adapter.model.v1beta.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Address feedback comments.
  mixer/adapter/model/v1beta/BUILD
  mixer/adapter/model/v1beta/extensions.pb.go
  mixer/adapter/model/v1beta/extensions.proto
  mixer/adapter/model/v1beta/istio.mixer.adapter.model.v1beta.pb.html
  mixer/adapter/model/v1beta/standard_types.pb.go
  mixer/adapter/model/v1beta/standard_types.proto
  mixer/adapter/model/v1beta/value_type.pb.go
  mixer/adapter/model/v1beta/value_type.proto
Owners: @geeknoid, @douglas-reid

Address feedback.
  mixer/adapter/model/v1beta/extensions.pb.go
  mixer/adapter/model/v1beta/type.pb.go
  mixer/adapter/model/v1beta/type.proto
Owners: @geeknoid, @douglas-reid

fixed MakeFile
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

rerun make generate
  mixer/adapter/model/v1beta/extensions.pb.go
Owners: @geeknoid, @douglas-reid

Correct yaml comments.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

refresh generated docs
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Nits
  mixer/v1/config/client/auth.proto
Owners: @geeknoid, @douglas-reid

Regenerate docs with latest generator tool.
  Gopkg.lock
  broker/dev/istio.broker.dev.pb.html
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  mixer/adapter/model/v1beta/istio.mixer.adapter.model.v1beta.pb.html
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/descriptor/istio.mixer.v1.config.descriptor.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  mixer/v1/template/istio.mixer.v1.template.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz, @ZackButcher, @liminw, @kyessenov

Add proto for authentication policy.
  Makefile
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

separate check and report clusters
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

fix
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

nits
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

nit
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

backward compat
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Doc clarifications
  routing/v1alpha2/gateway.proto
Owners: @rshriram, @ZackButcher, @kyessenov

ci fix
  .circleci/config.yml
Owners: @rshriram, @geeknoid, @douglas-reid

regenerate go files
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

Make fail policy configuration per service.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid
