Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

Remove unused authn policy v1alpha2
  Makefile
  authentication/v1alpha2/istio.authentication.v1alpha2.pb.html
  authentication/v1alpha2/policy.pb.go
  authentication/v1alpha2/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Proto for local RBAC.
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  rbac/v1alpha1/local_rbac.pb.go
  rbac/v1alpha1/local_rbac.proto
  rbac/v1alpha1/rbac.pb.go
  rbac/v1alpha1/rbac.proto
Owners: @liminw

Addressed Yangmin's comments.
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  rbac/v1alpha1/local_rbac.pb.go
  rbac/v1alpha1/local_rbac.proto
Owners: @liminw

Add envoy-facing authentication api.
  authentication/v1alpha1/envoy/config.pb.go
  authentication/v1alpha1/envoy/config.proto
  authentication/v1alpha1/envoy/istio.authentication.v1alpha1.envoy.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Remove zombie folder.
  authentication/v1alpha1/envoy/config.pb.go
Owners: @rshriram, @geeknoid, @douglas-reid

Move envoy api to top level envoy folder
  Makefile
  authentication/v1alpha1/envoy/istio.authentication.v1alpha1.envoy.pb.html
  envoy/authentication/v1alpha1/config.pb.go
  envoy/authentication/v1alpha1/config.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Align with envoy data-plane-api folder structure.
  envoy/config/filter/http/authn/v1alpha1/config.pb.go
  envoy/config/filter/http/authn/v1alpha1/config.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change v1alpha1 to v2alpha2
  envoy/config/filter/http/authn/v2alpha1/config.pb.go
  envoy/config/filter/http/authn/v2alpha1/config.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Fast forward to v1alpha2
  envoy/authentication/v1alpha2/config.pb.go
  envoy/authentication/v1alpha2/config.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Rename the map for the right purpose.
  envoy/authentication/v1alpha2/config.pb.go
  envoy/authentication/v1alpha2/config.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Change MutualTls.late_cert_check param to allow_tls to be clearer.
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Add OutboundTrafficPolicy as sub message to MeshConfig
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Fix comment that was being interpreted as a markdown link rather than a regex string.
  mixer/adapter/model/v1beta1/info.pb.go
  mixer/adapter/model/v1beta1/info.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
Owners: @geeknoid, @douglas-reid

Add Mode VIRTUAL_SERVICE_ONLY
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Move a couple doc files to their correct location in istio.io.
  mixer/adapter/model/v1beta1/infrastructure_backend.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  policy/v1beta1/cfg.proto
  policy/v1beta1/istio.policy.v1beta1.pb.html
Owners: @geeknoid, @douglas-reid, @rshriram

Update RBAC API comments about gRPC method.
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  rbac/v1alpha1/rbac.pb.go
  rbac/v1alpha1/rbac.proto
Owners: @liminw

doc corrections
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

more doc corrections
  networking/v1alpha3/gateway.pb.go
  networking/v1alpha3/gateway.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Uppercase port protocol
  networking/v1alpha3/external_service.pb.go
  networking/v1alpha3/external_service.proto
  networking/v1alpha3/istio.networking.v1alpha3.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid
