Repository istio/api, changes with the owners that CODEOWNERS names for each.
All owners: @rshriram, @geeknoid, @douglas-reid, @ZackButcher, @kyessenov, @liminw, @xiaolanz

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be
# requested for review when someone opens a pull request.

*       @rshriram @geeknoid @douglas-reid

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies routing/ files, only owners listed here and not the global
# owner(s) will be requested for a review.

/mesh/ @ZackButcher @rshriram
/routing/    @rshriram @ZackButcher @kyessenov
/rbac/ @liminw
/mixer/ @geeknoid @douglas-reid
/broker/ @xiaolanz

wip: strawman proposal for adding native support for openapi, grpc, and generic rest apis
  apis/v1alpha1/api.proto
  apis/v1alpha1/http_generic.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Addressed Wayne's comments.
  mixer/v1/config/client/api_spec.pb.go
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Fix minor typo.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update the reference docs.
  Gopkg.lock
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @liminw, @ZackButcher, @kyessenov

Added documentation for default value for mesh level policy.
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
Owners: @geeknoid, @douglas-reid

Expose concurrency flag of envoy
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Expose concurrency flag of envoy (#372)
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Address comment
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Address comment
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Fix typo
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

add SchemaSource
  apis/v1alpha1/api.proto
Owners: @rshriram, @geeknoid, @douglas-reid

refactor schema definition to use google.protobuf.Struct
  Makefile
  apis/v1alpha1/api.pb.go
  apis/v1alpha1/api.proto
  apis/v1alpha1/http_generic.pb.go
  apis/v1alpha1/http_generic.proto
  apis/v1alpha1/istio.apis.v1alpha1.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md (#373)
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Regenerate docs with latest generator tool. (#360)
  Gopkg.lock
  broker/dev/istio.broker.dev.pb.html
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
  mixer/adapter/model/v1beta/istio.mixer.adapter.model.v1beta.pb.html
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/descriptor/istio.mixer.v1.config.descriptor.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  mixer/v1/template/istio.mixer.v1.template.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @xiaolanz, @ZackButcher, @liminw, @kyessenov

add missing docs for mixerclient filter config (#353)
  mixer/v1/config/client/auth.pb.go
  mixer/v1/config/client/auth.proto
  mixer/v1/config/client/client_config.pb.go
  mixer/v1/config/client/client_config.proto
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/client/quota.pb.go
  mixer/v1/config/client/quota.proto
Owners: @geeknoid, @douglas-reid

Doc clarifications (#365)
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

Add a separate mTLS port for pilot and mixer (#370)
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

Add proto for authentication policy. (#361)
  Makefile
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  authentication/v1alpha1/policy.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md (#343)
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

ci fix (#366)
  .circleci/config.yml
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md (#369)
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update the reference docs. (#371)
  Gopkg.lock
  authentication/v1alpha1/istio.authentication.v1alpha1.pb.html
  authentication/v1alpha1/policy.pb.go
  mixer/v1/config/client/istio.mixer.v1.config.client.pb.html
  mixer/v1/config/istio.mixer.v1.config.pb.html
  mixer/v1/istio.mixer.v1.pb.html
  rbac/v1alpha1/istio.rbac.v1alpha1.pb.html
  routing/v1alpha1/istio.routing.v1alpha1.pb.html
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid, @liminw, @ZackButcher, @kyessenov

separate check and report clusters (#362)
  mesh/v1alpha1/config.pb.go
  mesh/v1alpha1/config.proto
  mesh/v1alpha1/istio.mesh.v1alpha1.pb.html
Owners: @ZackButcher, @rshriram

add apis dependency to `generate` and `clean-generated` targets
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

WIP: Add initial tracing config protos
  Makefile
  tracing/v1alpha1/istio.tracing.v1alpha1.pb.html
  tracing/v1alpha1/tracing.pb.go
  tracing/v1alpha1/tracing.proto
Owners: @rshriram, @geeknoid, @douglas-reid

update based on review comments
  tracing/v1alpha1/istio.tracing.v1alpha1.pb.html
  tracing/v1alpha1/tracing.pb.go
  tracing/v1alpha1/tracing.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Rename RouteRule -> TrafficRule
  routing/v1alpha2/destination_rule.pb.go
  routing/v1alpha2/destination_rule.proto
  routing/v1alpha2/external_service.pb.go
  routing/v1alpha2/external_service.proto
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/gateway.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/traffic_rule.pb.go
  routing/v1alpha2/traffic_rule.proto
Owners: @rshriram, @ZackButcher, @kyessenov

Create policy/v1beta protos.
  Makefile
  mixer/adapter/model/v1beta/extensions.pb.go
  mixer/adapter/model/v1beta/istio.mixer.adapter.model.v1beta.pb.html
  policy/v1beta/cfg.pb.go
  policy/v1beta/cfg.proto
  policy/v1beta/istio.policy.v1beta.pb.html
  policy/v1beta/value_type.pb.go
  policy/v1beta/value_type.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Run with new protoc and protobuf
  policy/v1beta/cfg.pb.go
  policy/v1beta/istio.policy.v1beta.pb.html
Owners: @rshriram, @geeknoid, @douglas-reid

rename to TrafficPolicy and merge DestinationRule
  routing/v1alpha2/destination_policy.pb.go
  routing/v1alpha2/destination_policy.proto
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
  routing/v1alpha2/traffic_policy.pb.go
  routing/v1alpha2/traffic_policy.proto
Owners: @rshriram, @ZackButcher, @kyessenov

update gateway and external service
  routing/v1alpha2/external_service.proto
  routing/v1alpha2/gateway.proto
Owners: @rshriram, @ZackButcher, @kyessenov

regen proto/doc
  routing/v1alpha2/external_service.pb.go
  routing/v1alpha2/gateway.pb.go
  routing/v1alpha2/istio.routing.v1alpha2.pb.html
Owners: @rshriram, @ZackButcher, @kyessenov

Rename v1beta to v1beta1. Do the same for mixer/adapter/model too.
  Makefile
  mixer/adapter/model/v1beta/extensions.pb.go
  mixer/adapter/model/v1beta1/extensions.pb.go
  mixer/adapter/model/v1beta1/extensions.proto
  mixer/adapter/model/v1beta1/istio.mixer.adapter.model.v1beta1.pb.html
  mixer/adapter/model/v1beta1/type.pb.go
  mixer/adapter/model/v1beta1/type.proto
  policy/v1beta1/cfg.pb.go
  policy/v1beta1/cfg.proto
  policy/v1beta1/istio.policy.v1beta1.pb.html
  policy/v1beta1/value_type.pb.go
  policy/v1beta1/value_type.proto
Owners: @rshriram, @geeknoid, @douglas-reid

Copyright 2018.
  mixer/adapter/model/v1beta1/extensions.proto
  mixer/adapter/model/v1beta1/type.proto
  policy/v1beta1/cfg.proto
  policy/v1beta1/value_type.proto
Owners: @geeknoid, @douglas-reid, @rshriram

More rename
  Makefile
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid

Update STYLE-GUIDE.md
  STYLE-GUIDE.md
Owners: @rshriram, @geeknoid, @douglas-reid
